.btn {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 60px;
  background-color: #252c41;
  border: 0;
  margin: 0;
}

.btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 1.25em;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
}