header {
  background-color: #e24647;
  color: #fff;
  overflow: hidden;
  margin: 0 115px;
  padding: 55px 60px 95px;
}

h1 {
  font-size: 2.5em;
  font-family: Arial, 'Roboto', sans-serif;
  float: left;
  
}

nav {
  font-size: 1.31em;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  float: right;
}

a {
  text-decoration: none;
  color: inherit; 
  font-size: inherit;
 
}


